
.background{
  background-color: #FAFAD2	;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.search {
  width: 50%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #9DBFAF;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF; /* Green */
}

.searchTerm:focus{
  color: #9DBFAF;
}

#searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #9DBFAF;
  background: #9DBFAF;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

#images {
  margin: 0;
  width: 40%;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#center_tag {
    background-color:#20B2AA
}
#sample_tag {
    background-color:#98FB98
}

#centers{
    font-weight: bold;
    font-family: "serif";
}
.loader {
  visibility: hidden;
  border: 16px solid #f3f3f3; /* Light yellow */
  border-top: 16px solid #9DBFAF; /* Green */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
   top: 30%;
  left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}