<div id="centers">
    {% if centers_results %}
        {% if samples_results %}
        <table>
            <tbody>
            <tr>
                {% for i in range(centers_results.__len__()) %}
                <td id="center_tag"><b> center {{i + 1}} : </b></td>
                <td><img src="/static/images/{{ centers_results[i] }}"></td>
                <td id="sample_tag"><b> samples: </b></td>
                {% for img_name in samples_results[i] %}
                    <td><img src="/static/images/{{ img_name }}"></td>
                    {% endfor %}
                <tr></tr>
                {% if i > 12 %}

                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% else %}
            No results due to samples_results :(
        {% endif %}
    {% else %}
    No results due to centers_results :(
    {% endif %}
</div>